<section class="references section" id="references">
  
  <div class="section-header bd-grid">
    <h2 class="section-title">References</h2>
    <i Class="bx bxs-edit edit__icon" (click)="openModalDialog()"></i>
  </div>

  <div class="references__container bd-grid">
      <div class="references__content bd-grid" *ngFor="let ref of references">
          <span class="references__subtitle">{{ref.subtitle}}</span>
          <h3 class="references__title">{{ref.title}}</h3>
          <ul class="references__contact">
              <li>Phone: {{ref.phone}}</li>
              <li>Email: {{ref.email}}</li>
          </ul>
      </div>
  </div>
</section>

<p-dialog header="Edit References" [(visible)]="displayModal" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '90vw'}" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

  <div class="formgrid grid">
      <div class="field col-3">
          <label for="title">Title</label>
          <input id="title" type="text" class="inputfield w-full" pInputText [(ngModel)]="newRef.title">
          <small class="p-error" *ngIf="invalid && !newRef.title">Title is required.</small>
      </div>
      <div class="field col-2">
          <label for="subtitle">Subtitle</label>
          <input id="subtitle" type="text" class="inputfield w-full" pInputText [(ngModel)]="newRef.subtitle">
          <small class="p-error" *ngIf="invalid && !newRef.subtitle">Subtitle is required.</small>
      </div>
      <div class="field col-2">
          <label for="phone">Phone</label>
          <input id="phone" type="text" class="inputfield w-full" pInputText [(ngModel)]="newRef.phone">
          <small class="p-error" *ngIf="invalid && !newRef.phone">Phone is required.</small>
      </div>
      <div class="field col-3">
          <label for="email">Email</label>
          <input id="email" type="text" class="inputfield w-full" pInputText [(ngModel)]="newRef.email">
          <small class="p-error" *ngIf="invalid && !newRef.email">Email is required.</small>
      </div>
      <div class="field col-2 flex align-items-end justify-content-end">
        <button pButton pRipple label="Add New" icon="pi pi-plus" class="p-button-success" (click)="addNew()"></button>
      </div>
  </div>

    <p-table [columns]="cols" [value]="editedReferences" dataKey="title" editMode="row" [autoLayout]="true" styleClass="p-datatable-sm p-datatable-striped" [reorderableColumns]="true">
      <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width:3rem"></th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width:8rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-columns="columns">
            <tr [pEditableRow]="rowData" [pReorderableRow]="ri">
              <td>
                  <span class="pi pi-bars" [pReorderableRowHandle]="ri"></span>
              </td>
                <td *ngFor="let col of columns">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData[col.field]" class="w-full">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{rowData[col.field]}}
                      </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(rowData, ri)" class="p-button-rounded mr-2"></button>
                  <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDelete(rowData, ri)" class="p-button-rounded p-button-danger"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData, ri)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(rowData, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
              </td>
            </tr>
        </ng-template>
    </p-table>
      <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="closeModalDialog()" label="Update" styleClass="p-button-raised"></p-button>
      </ng-template>
</p-dialog>