<section class="experience section" id="experience">

  <div class="section-header bd-grid">
    <h2 class="section-title">Experience</h2>
    <i Class="bx bxs-edit edit__icon" (click)="openModalDialog()"></i>
  </div>

  <div class="experience__container bd-grid">
    <div
      class="experience__content"
      *ngFor="let experience of experienceList; let i = index"
    >
      <div class="experience__time">
        <span class="experience__rounder"></span>
        <span
          class="experience__line"
          *ngIf="i != experienceList.length - 1"
        ></span>
      </div>

      <div class="experience__data bd-grid">
        <h3 class="experience__title">{{ experience.title }}</h3>
        <span class="experience__company">{{ experience.company }}</span>
        <span class="experience__description">{{
          experience.description
        }}</span>
      </div>
    </div>
  </div>
</section>

<p-dialog header="Edit Experience" [(visible)]="displayModal" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '90vw'}" [style]="{width: '60vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

  <div class="formgrid grid">
      <div class="field col-6">
          <label for="title">Title</label>
          <input id="title" type="text" class="inputfield w-full" pInputText [(ngModel)]="newExperience.title">
          <small class="p-error" *ngIf="invalid && !newExperience.title">Title is required.</small>
      </div>
      <div class="field col-6">
          <label for="company">Company with Duration</label>
          <input id="company" type="text" class="inputfield w-full" pInputText [(ngModel)]="newExperience.company">
          <small class="p-error" *ngIf="invalid && !newExperience.company">Company is required.</small>
      </div>
      <div class="field col-10">
          <label for="description">Description</label>
          <input id="description" type="text" class="inputfield w-full" pInputText [(ngModel)]="newExperience.description">
          <small class="p-error" *ngIf="invalid && !newExperience.description">Description is required.</small>
      </div>
      <div class="field col-2 flex align-items-end justify-content-end">
        <button pButton pRipple label="Add New" icon="pi pi-plus" class="p-button-success" (click)="addNew()"></button>
      </div>
  </div>

    <p-table [columns]="cols" [value]="editedExperienceList" dataKey="title" editMode="row" styleClass="p-datatable-sm p-datatable-striped" [reorderableColumns]="true">
      <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width:3rem"></th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width:8rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" let-columns="columns">
            <tr [pEditableRow]="rowData" [pReorderableRow]="ri">
              <td>
                  <span class="pi pi-bars" [pReorderableRowHandle]="ri"></span>
              </td>
                <td *ngFor="let col of columns">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData[col.field]" class="w-full">
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{rowData[col.field]}}
                      </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(rowData, ri)" class="p-button-rounded mr-2"></button>
                  <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDelete(rowData, ri)" class="p-button-rounded p-button-danger"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData, ri)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(rowData, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
              </td>
            </tr>
        </ng-template>
    </p-table>
      <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="closeModalDialog()" label="Update" styleClass="p-button-raised"></p-button>
      </ng-template>
</p-dialog>
